<template>
  <div>
      <div id="add-blog">
          <h2>Add a new blog</h2>
          <form v-if="!submitted">
              <label>Blog Title:</label>
              <input type="text" v-model.lazy="blog.title" required />
              <label>Blog Content:</label>
              <textarea v-model.lazy="blog.content"></textarea>
              <div id="checkboxes">
                    <label>Tech</label>
                    <input type="checkbox" value="tech" v-model="blog.categories" />
                    <label>Rant</label>
                    <input type="checkbox" value="rant" v-model="blog.categories" />
                    <label>Problem</label>
                    <input type="checkbox" value="problem" v-model="blog.categories" />
                    <label>Tutorial</label>
                    <input type="checkbox" value="tutorial" v-model="blog.categories" />
              </div>
              <label>Author:</label>
              <select v-model="blog.author">
                  <option v-for="(author, index) in authors" v-bind:key="index">{{ author }}</option>
              </select>
              <button v-on:click.prevent="post">Add Blog</button>
          </form>
          <div v-if="submitted">
              <h3>Thanks for adding your post!</h3>
          </div>
          <div id="preview">
              <h3>Preview Blog</h3>
              <p>Blog title: {{ blog.title }}</p>
              <p>Blog content:</p>
              <p>{{ blog.content }}</p>
              <p>Blog Categories:</p>
              <ul>
                  <li v-for="(category, index) in blog.categories" v-bind:key="index">{{ category }}</li>
              </ul>
              <p>Author: {{ blog.author }}</p>
          </div>
      </div>
  </div>
</template>

<script>


export default {
  name: 'addBlog',
  components: {

  },
  data(){
    return {
        blog: {
            title: "",
            content: "",
            categories: [],
            author: ""
        },
        authors: ['Skippy', 'Stick', 'Ventura', 'L3'],
        submitted: false
    }
  },
  methods: {
      post: function(){
          this.$http.post('https://vue-blog-b750c-default-rtdb.firebaseio.com/posts.json', this.blog).then(function(data){
              console.log(data);
              this.submitted = true;
          });
      }
  }
}
</script>

<style>
#add-blog *{
    box-sizing: border-box;
}
#add-blog{
    margin: 20px auto;
    max-width: 500px;
}
label{
    display: block;
    margin: 20px 0 10px;
}
input[type="text"], textarea{
    display: block;
    width: 100%;
    padding: 8px;
}
#preview{
    padding: 10px 20px;
    border: 1px dotted #ccc;
    margin: 30px 0;
}
h3{
    margin-top: 10px;
}
#checkboxes input{
    display: inline-block;
    margin-right: 10px;
}
#checkboxes label{
    display: inline-block;
}
</style>