<template>
  <div id="show-blogs">
      <h1>All Blog Articles</h1>
      <input type="text" v-model="search" placeholder="Search blogs..." />
      <div v-for="(blog, index) in filteredBlogs" v-bind:key="index" class="single-blog">
          <router-link v-bind:to="'/blog/' + blog.id"><h2>{{ blog.title | toUppercase }}</h2></router-link>
          <article>{{ blog.content | snippet }}</article>
      </div>
  </div>
</template>

<script>
import searchMixin from '../mixins/searchMixin';

export default {
  name: 'showBlog',
  data(){
    return {
        blogs: [],
        search: ''
    }
  },
  methods: {

  },
  created() {
      this.$http.get('https://vue-blog-b750c-default-rtdb.firebaseio.com/posts.json').then(function(data){
        return data.json(); // Get JSON Promise
      }).then(function(data){ // Will get callback when data.json() finish processing
        var blogsArray = [];
        for(let key in data){
          data[key].id = key;
          blogsArray.push(data[key]);
        }
        this.blogs = blogsArray;
      });
  },
  computed: {

  },
  filters: {
    toUppercase(value){
      return value.toUpperCase();
    }
  },
  directives: {
    /* eslint-disable no-unused-vars */
    'rainbow': {
      bind(el, binding, vnode){ // vnode refers to the virtual node on the DOM, 
        el.style.color = "#" + Math.random().toString(16).slice(2, 8);
      }
    }
    /* eslint-enable no-unused-vars */
  },
  mixins: [searchMixin]
}
</script>

<style>
#show-blogs{
    max-width: 800px;
    margin: 0 auto;
}

.single-blog{
    padding: 20px;
    margin: 20px 0;
    box-sizing: border-box;
    background: #eee;
}

a {
    text-decoration: none;
    color: gray;
    transition: color 300ms ease-in-out;
}

a:hover {
    color: black;
}
</style>