<template>
    <div id="single-blog">
        <h1>{{ blog.title }}</h1>
        <p>Author: {{ blog.author }}</p>
        <article>{{ blog.content }}</article>
        <p>Categories:</p>
        <ul>
            <li v-for="(category, index) in blog.categories" v-bind:key="index">{{ category }}</li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'singleBlog',
    data(){
        return {
            id: this.$route.params.id,
            blog: {}
        }
    },
    created(){
        this.$http.get('https://vue-blog-b750c-default-rtdb.firebaseio.com/posts/' + this.id + '.json').then(function(data){
            return data.json();
        }).then(function(data){
            this.blog = data;
        });
    }
}
</script>

<style scoped>
#single-blog{
    max-width: 960px;
    margin: 0 auto;
}
</style>